ion-toolbar{
    //--background: #00e3ae;
    --color:#fff;
    --background: #000000;
}
ion-card-subtitle{
    text-align: center;
}
ion-back-button{
    --color: #fefffe;
}
.back{
    --color: #fefffe;
    //--background: linear-gradient(to top, #fefffe 0%, #189418 35%); // #d6d30d 10%, #000000 100% 
    --background: linear-gradient(to top, #fefffe 0%,  #d6d30d 10%,  #189418 35%, #000000 100%);
   //--background: linear-gradient(to top, #9be15d 0%, #00e3ae 100%); ##azul
   //--background: linear-gradient(-225deg, #f1edef 0%, #e2ee3a 48%, #4fe06e 100%);
}
ion-content{}
    
ion-label{
    --color: #fff;
    --background: transparent;
}
ion-item{
    --color: #fff;
    --border-radius: 2px;
    --border: 1px solid;
    --background: transparent;
}
.fundo{
    width: 95%;
    margin: auto;
    padding: 10px;
}
ion-card{
    --color:#fff;
    --background: transparent;
    --border: 0.5px solid;
    ion-card-subtitle{
        --color: rgba(255, 255, 255, 0.973);
    }
    ion-card-header{
        --color: #fff;
        ion-card-title{
            --color: #fff;
        }
    }
}
ion-list{
    background-color: transparent;
    border-radius: 2px;
    color:#fff;
    ion-list-header{
        color: #fff;
    }
    
}
ion-icon{
    color: #fff;
    //background-color: #fefffe;
}
ion-button{
    size: 12;
}