<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhe da Enquete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back">
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="enquete.titulo" placeholder="Titulo da enquete"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="enquete.texto" placeholder="Texto da enquete"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="enquete.opcao1" placeholder="opcao1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="enquete.opcao2" placeholder="opcao2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="enquete.opcao3" placeholder="opcao3"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="enquete.opcao4" placeholder="opcao4"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="enquete.opcao5" placeholder="opcao5"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="enquete.foto" placeholder="link da foto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="date" [(ngModel)]="enquete.dataInicio" placeholder="data de inicio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="date" [(ngModel)]="enquete.dataFinal" placeholder="data final"></ion-input>
    </ion-item>
    <ion-radio-group [(ngModel)]="enquete.vigente">
      <ion-list-header>
        <ion-label>
          Vigente
        </ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="true"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="false"></ion-radio>
      </ion-item>
      </ion-radio-group>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="salvarEnquete()" expand="block">
      Salvar Enquete
    </ion-button>
  </ion-toolbar>
</ion-footer>
