<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Adicionar Profissão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="profissao.abreviacao" placeholder="Profissão"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="profissao.descricao" placeholder="descrição"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="salvarProfissao()" expand="block">
      Salvar Profissao
    </ion-button>
  </ion-toolbar>
</ion-footer>

