<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="usuarios.tipoUser == 3"></ion-back-button>
      <ion-menu-button *ngIf="usuarios.tipoUser == 1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Resultados dos Sorteios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back">
  <ion-list *ngIf="!sorteios.length">
    <ion-item *ngFor="let sorteios of [0,1,2,3]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
    
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-sliding *ngFor="let sorteio of sorteios">
      <ion-item> <!--buttons [routerLink]="['/denquetes', sorteio.id]"-->
        <!--<ion-avatar slot="start">
          <img [src]="sorteio.foto">
        </ion-avatar>-->

        <ion-label>
          sorteado: {{ sorteio.nomeGanhador }}
          
          <p>{{ sorteio.premioId }}</p>
          <p>{{ sorteio.data }}</p>
          <!--<p *ngFor="let opcao of opcoes">{{ enquete.texto }}</p>-->
        </ion-label>

       <!--<ion-note color="primary" slot="end" *ngIf="enquete.id">{{ enquete.opcao1 }}</ion-note>
       <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>-->
      </ion-item>

      <!--<ion-item-options side="end"> 
        <ion-item-option color="danger" (click) = "deleteEnquete(enquete.id)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item-options>-->
    </ion-item-sliding>
  </ion-list>
  <!--<ion-fab vertical="bottom" routerLink="/denquetes" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
</ion-content>
