ion-slides{
    height: 100%;
    .slide-inner{
        width: 85%;
        color: #fff;
        background-color: rgb(134, 136, 133);
        border-radius: 5px;
    }
    
}
.ion-margin-top{
    border-radius: 5px;
    
}
.ion-size-6{
    width: 17%;
}
.ion-size-7{
    width: 65%;
}
.container{
    z-index: 2;
}
