ion-slides{
    height: 100%;
    .slide-inner{
        width: 75%;
        color: #fff;
        background-color: rgba(111, 119, 109, 0.623);
        border-radius: 5px;
    }
    .ion-margin-top{
        border-radius: 5px;
    }
}