<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="swipe-no-swiping">
  <div class="container-top" [hidden]="keyboard.isVisible">

  </div>
  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Cadastro</span>
        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="userRegister.email"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="senha" [(ngModel)]="userRegister.password"></ion-input>
        </ion-item>
        <ion-button class="ion-margin-top" (click)="register()" color="light" expand="block">
          Cadastrar
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
  
  <div class="container button ion-text-center" [hidden]="keyboard.isVisible"></div>
</ion-content>

