<ion-header>
  <ion-toolbar>
    <ion-title>Relatórios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>Escolha uma enquete</p>
<ion-select onchange="contEnquete()" [(ngModel)]="idContVotoEnquete">
  <ion-select-option *ngFor="let enquete of enquetes">{{enquete.titulo}}</ion-select-option>
</ion-select>
  <div style="display: block;" width="400" height="400">
    <canvas id="myChart"></canvas>
  </div>
  
</ion-content>
