
ion-toolbar{
    --background: #000000;
    //--background: #00e3ae;
    ion-title{
        --color: #fff;
    }
}
ion-card-subtitle{
    text-align: center;
}
.background{
    --background: linear-gradient(to top, #fefffe 0%,  #d6d30d 10%,  #189418 35%, #000000 100%);
}
.back{
    --color: #fefffe;
    --background: linear-gradient(to top, #fefffe 0%,  #d6d30d 10%,  #189418 35%, #000000 100%); //
  //--background: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
   //--background: linear-gradient(-225deg, #f1edef 0%, #e2ee3a 48%, #4fe06e 100%);
   .nivel1{
       --background: transparent;
   }
   .nivel2{
    --background: transparent;
   }
}
.enqueteBase{
    --color: #fefffe;
    --background: transparent;
}
.enquete{
    --color: #fefffe;
    --background: transparent;
}
ion-content{}
    
ion-label{
    --color: #fff;
    --background: transparent;
}
ion-item{
    --color: #fff;
    --border-radius: 2px;
    --border: 1px solid;
    --background: transparent;
}
.fundo{
    width: 95%;
    margin: auto;
    padding: 10px;
}
ion-card{
    --color: #fefffe;
    --background: transparent 80%;
    --border: 0.5px solid;
    ion-card-title{
        --color: #fefffe;
    }
    ion-card-header{
        --color: #fefffe;
    }
    ion-card-subtitle{
        --color: rgba(255, 255, 255, 0.973);
    }
}
ion-list{
    background-color: transparent;
    border-radius: 2px;
    
}
ion-icon{
    color: #fff;
    //background-color: #fefffe;
}
ion-button{
    size: 12;
}
.fundo{
    background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
}