<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="usuarios.tipoUser == 3"></ion-back-button>
      <ion-menu-button *ngIf="usuarios.tipoUser == 1"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Enquete Semanal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-content class="nivel1">
    <!--*ngFor="let enquete of enquetes"-->
    <ion-content class="nivel2" *ngIf="enquete.id">
      <!--*ngIf="enquete.dataInicio > currentDate && enquete.dataFinal < currentDate"-->
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            {{ enquete.titulo }}
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{ enquete.texto }}
        </ion-card-content>
      </ion-card>
      <ion-list>
        <ion-radio-group [(ngModel)]="voto.voto">
          <ion-item>
            <ion-label>{{ enquete.vigente }}</ion-label>

          </ion-item>
          <ion-item>
            <ion-label>{{ enquete.opcao1 }}</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>{{ enquete.opcao2 }}</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>{{ enquete.opcao3 }}</ion-label>
            <ion-radio slot="start" value="3"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>{{ enquete.opcao4 }}</ion-label>
            <ion-radio slot="start" value="4"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>{{ enquete.opcao5 }}</ion-label>
            <ion-radio slot="start" value="5"></ion-radio>
          </ion-item>
        </ion-radio-group>

      </ion-list>
    </ion-content>
  </ion-content>
</ion-content>
<ion-footer class="enqueteBase">
  <ion-toolbar class="enqueteBase">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" (click)="salvarVoto()" [routerLink]="['/res-enquete', enquete.id]">Salvar Voto</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>