<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Sorteios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back">
  <!--<ion-item>
    <ion-input type="text" [(ngModel)]="sorteio.minimo" id="minimo" name="minimo" placeholder="minimo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" [(ngModel)]="sorteio.maximo" id="maximo" name="maximo" placeholder="maximo"></ion-input>
  </ion-item>-->
  <ion-grid>
    <p>Quantidade de cupons {{ qntCupons }}</p>
    <p>O número sorteado foi o: {{ somaSorteio }}</p>
    <p>id do usuário:{{ cupom.userId }}</p>
    <p>id do usuário:{{ cupom.id }}</p>
  </ion-grid>
  

    <!--<ion-item>
      <ion-button (click)="sortear()">Sortear</ion-button>
    </ion-item>-->
  

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" (click)="sortear()" >Sortear</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>